In [2]:
import pandas as pd
Location = "D2.csv"
df = pd.read_csv(Location)
df.head()

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000
0,12097,50,12,97,36740,422,NaN,NaN,Osceola County,268685,128170,172493,72293,268685,172493
1,12007,50,12,7,99999,999,NaN,NaN,Bradford County,28520,11011,26088,9605,28520,26088
2,12027,50,12,27,11580,999,NaN,NaN,DeSoto County,34862,14590,32209,13608,34862,32209
3,12037,50,12,37,99999,999,NaN,NaN,Franklin County,11549,8652,11057,7180,11549,11057
4,12093,50,12,93,36380,999,NaN,NaN,Okeechobee County,39996,18509,35910,15504,39996,35910

In [4]:
import numpy as np
df['isFailing'] = np.where(df['COUNTY']<70,
'yes', 'no')
df.tail(10)

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000,isFailing
57,12095,50,12,95,36740,422,NaN,NaN,Orange County,1145956,487839,896344,361349,1145956,896344,no
58,12109,50,12,109,27260,999,NaN,NaN,St. Johns County,190039,89830,123135,58008,190039,123135,no
59,12001,50,12,1,23540,999,NaN,NaN,Alachua County,247336,112766,217955,95113,247336,217955,yes
60,12053,50,12,53,45300,999,NaN,NaN,Hernando County,172778,84504,130802,62727,172778,130802,yes
61,12061,50,12,61,42680,442,NaN,NaN,Indian River County,138028,76346,112947,57902,138028,112947,yes
62,12067,50,12,67,99999,999,NaN,NaN,Lafayette County,8870,3328,7022,2660,8870,7022,yes
63,12081,50,12,81,35840,494,NaN,NaN,Manatee County,322833,172690,264002,138128,322833,264002,no
64,12091,50,12,91,18880,999,NaN,NaN,Okaloosa County,180822,92407,170498,78593,180822,170498,no
65,12073,50,12,73,45220,999,NaN,NaN,Leon County,275487,124136,239452,103974,275487,239452,no
66,12115,50,12,115,35840,494,NaN,NaN,Sarasota County,379448,228413,325957,182467,379448,325957,no

In [5]:
df['isFailingMale'] = np.where((df['COUNTY']<70)
 & (df['NAME'] == 'Sarasota County'),'yes', 'no')
df.tail(10)

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000,isFailing,isFailingMale
57,12095,50,12,95,36740,422,NaN,NaN,Orange County,1145956,487839,896344,361349,1145956,896344,no,no
58,12109,50,12,109,27260,999,NaN,NaN,St. Johns County,190039,89830,123135,58008,190039,123135,no,no
59,12001,50,12,1,23540,999,NaN,NaN,Alachua County,247336,112766,217955,95113,247336,217955,yes,no
60,12053,50,12,53,45300,999,NaN,NaN,Hernando County,172778,84504,130802,62727,172778,130802,yes,no
61,12061,50,12,61,42680,442,NaN,NaN,Indian River County,138028,76346,112947,57902,138028,112947,yes,no
62,12067,50,12,67,99999,999,NaN,NaN,Lafayette County,8870,3328,7022,2660,8870,7022,yes,no
63,12081,50,12,81,35840,494,NaN,NaN,Manatee County,322833,172690,264002,138128,322833,264002,no,no
64,12091,50,12,91,18880,999,NaN,NaN,Okaloosa County,180822,92407,170498,78593,180822,170498,no,no
65,12073,50,12,73,45220,999,NaN,NaN,Leon County,275487,124136,239452,103974,275487,239452,no,no
66,12115,50,12,115,35840,494,NaN,NaN,Sarasota County,379448,228413,325957,182467,379448,325957,no,no